@model IEnumerable<ExcelToDatabase.Models.Pay_Earning>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Earning)
            </th>
       @*      <th>
                @Html.DisplayNameFor(model => model.EarningDescription)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Earning)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.EarningDescription)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.EarningId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EarningId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EarningId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
