@model IEnumerable<ExcelToDatabase.Models.Pay_Deductions>

@{
    ViewData["Title"] = "GetIndividualDeductionsListByUploadInstanceId";
    var instData = @TempData["instanceDetails"];
}


@* <div style="max-width: 100rem; height: 20rem;" class="card bg-light mb-3">
    <div class="card-header">
        Instance Details
    </div>
    <div class="card-body" style="background-color: white; display: flex; align-items: center;">
        <button id="btnProcess" type="button" class="btn btn-primary" style="flex-shrink: 0;"><img src="~/bsicons/plus-circle.svg" /> Add new</button>
        <div style="margin-left: 10px;">@Html.Raw(instData)</div>
    </div>
</div> *@



<div class="card bg-light mb-3" style="max-width: 100rem;">
    <div class="card-header"><b>Individual Deductions </b></div>

    <div class="card-body">
        <div class="accordion" id="accordionExample" style="padding-bottom:10px;">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <a><img src="~/bsicons/info-circle-fill.svg" /> Instance Details</a>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        @* <button id="btnProcess" type="button" class="btn btn-primary" style="flex-shrink: 0;"><img src="~/bsicons/plus-lg.svg" /> Add new</button> *@
                        @Html.Raw(instData);
                    </div>
                </div>
            </div>

        </div>

        <table class="table" id="IndividualDeductionsListByUploadInstanceId">
    <thead>
        <tr>
            <th>
                Surname
            </th>
            <th>
                FullName
            </th>
            <th>
                PayPoint
            </th>
            <th>
                DdSocial Security
            </th>
            <th>
                DdPension
            </th>
            <th>
                CcSocial Security
            </th>
            <th>
                CcPension
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullNames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DdSocialSecurity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DdPension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CcSocialSecurity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CcPension)
            </td>
            <td>
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item btnManageAcc" data-actindx="@item.EmployeeCode"><img src="~/bsicons/pencil.svg" /> Edit Details</a>
                                    <a href="#" class="dropdown-item btnManageAcc btnSeeDetails" data-empcode="@item.EmployeeCode" ><img src="~/bsicons/eye.svg" /> See Details</a>
                                    <a href="#" class="dropdown-item btnManageAcc" data-actindx="@item.EmployeeCode"><img /><img src="~/bsicons/trash.svg" /> Delete Details</a>
                                    <!--<a href="#" class="dropdown-item btnManageAcc"  data-actindx="@item.EmployeeCode">Manage Account</a>-->

                                </div>
                            </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
<a  asp-controller="Pay_UploadInstance" asp-action="index"><img src="~/bsicons/arrow-down-left.svg" />Go back</a>
<!-- Modal -->
<div class="modal" id="employeeDeductionDetailsBtn" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $('#IndividualDeductionsListByUploadInstanceId').DataTable();
            }, 1000);

            $('.btnSeeDetails').click(function () {

                var empId = $(this).attr('data-empcode'); // Retrieve the ACTINDX value from data-actindx attribute
                GetEmployeeDeductions(empId); // Call the function with ACTINDX as argument
            });

            function GetEmployeeDeductions(empId) {
                    $.ajax({
                        url: '/pay_UploadInstance/GetEmployeeDeductionsByCode?Id=' + empId,
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (response) {
                            $('#employeeDeductionDetailsBtn').modal('show');

                        var tableHTML = "<table style='border-collapse: collapse; border: 1px solid lightgrey;'>";
                        tableHTML += "<thead style='background-color: lightgrey;'>";
                        tableHTML += "<tr><th style='width: 200px; border: 1px solid lightgrey;'>Property</th><th style='width: 200px; border: 1px solid lightgrey;'>Value</th></tr>";
                        tableHTML += "</thead>";
                        tableHTML += "<tbody>";
                        tableHTML += "<tr><td style='width: 200px; border: 1px solid lightgrey;'>Surname</td><td style='width: 200px; border: 1px solid lightgrey;'><strong>" + response.surname + "</strong></td></tr>";
                        tableHTML += "<tr><td style='width: 200px; border: 1px solid lightgrey;'>Full Names</td><td style='width: 200px; border: 1px solid lightgrey;'><strong>" + response.fullNames + "</strong></td></tr>";
                        tableHTML += "<tr><td style='width: 200px; border: 1px solid lightgrey;'>Pay Point</td><td style='width: 200px; border: 1px solid lightgrey;'><strong>" + response.payPoint + "</strong></td></tr>";
                        tableHTML += "<tr><td style='width: 200px; border: 1px solid lightgrey;'>DD Social Security</td><td style='width: 200px; border: 1px solid lightgrey;'><strong>" + response.ddSocialSecurity + "</strong></td></tr>";
                        tableHTML += "<tr><td style='width: 200px; border: 1px solid lightgrey;'>DD Pension</td><td style='width: 200px; border: 1px solid lightgrey;'><strong>" + response.ddPension + "</strong></td></tr>";
                        tableHTML += "<tr><td style='width: 200px; border: 1px solid lightgrey;'>CC Social Security</td><td style='width: 200px; border: 1px solid lightgrey;'><strong>" + response.ccSocialSecurity + "</strong></td></tr>";
                        tableHTML += "<tr><td style='width: 200px; border: 1px solid lightgrey;'>CC Pension</td><td style='width: 200px; border: 1px solid lightgrey;'><strong>" + response.ccPension + "</strong></td></tr>";


                        $('.modal-body').html(tableHTML)
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                            console.error('Status: ' + status);
                            console.error('Error: ' + error);
                            alert('Error');
                        }
                    });
                
            };

        });
    </script>
        }