@model IEnumerable<ExcelToDatabase.Models.Pay_VIP>

@{
    ViewData["Title"] = "GetIndividualEarningsListByUploadInstanceId";
}


<div class="card bg-light mb-3" style="max-width: 100rem;">
    <div class="card-header"><b>Instances</b></div>
    <div class="card-body">
        <div class="accordion" id="accordionExample" style="padding-bottom:10px;">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <a><img src="~/bsicons/info-circle-fill.svg" /> Instance Details</a>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        @* <button id="btnProcess" type="button" class="btn btn-primary" style="flex-shrink: 0;"><img src="~/bsicons/plus-lg.svg" /> Add new</button> *@
@*                         @Html.Raw(instData); *@
                    </div>
                </div>
            </div>

        </div>
        <table class="table" id="tblIndividualEarningsListByUploadInstanceId">
    <thead>
        <tr>
            <th>
                Surname
            </th>
            <th>
                Full Name
            </th>
            <th>
                Pay Point
            </th>
            <th>
                Salary
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullNames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EDSALARY, "{0:c}")
            </td>
            <td>
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item btnManageAcc" data-actindx="@item.EmployeeCode"><img src="~/bsicons/pencil.svg" />Edit Details</a>
                                    <!--<a href="#" class="dropdown-item btnManageAcc"  data-actindx="@item.EmployeeCode">Manage Account</a>-->

                                </div>
                            </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $('#tblIndividualEarningsListByUploadInstanceId').DataTable();
            }, 1500);

        });
    </script>
}