@model IEnumerable<ExcelToDatabase.Models.Pay_Deductions>

@{
    ViewData["Title"] = "GetIndividualDeductionsListByUploadInstanceId";
}

<p>
    <button id="btnProcess" type="button" class="btn btn-primary"><img src="~/bsicons/plus-circle.svg" /> Process Account</button>
</p>

<div class="card bg-light mb-3" style="max-width: 100rem;">
    <div class="card-header"><b>GL Accounts</b></div>
    <div class="card-body">

        <table class="table" id="IndividualDeductionsListByUploadInstanceId">
    <thead>
        <tr>
            <th>
                Surname
            </th>
            <th>
                FullName
            </th>
            <th>
                PayPoint
            </th>
            <th>
                DdSocial Security
            </th>
            <th>
                DdPension
            </th>
            <th>
                CcSocial Security
            </th>
            <th>
                CcPension
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullNames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DdSocialSecurity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DdPension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CcSocialSecurity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CcPension)
            </td>
            <td>
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item btnManageAcc" data-actindx="@item.EmployeeCode"><img src="~/bsicons/pencil.svg" />Edit Details</a>
                                    <a href="#" class="dropdown-item btnManageAcc" data-actindx="@item.EmployeeCode"><img src="~/bsicons/eye.svg" />See Details</a>
                                    <a href="#" class="dropdown-item btnManageAcc" data-actindx="@item.EmployeeCode"><img  />Delete Details</a>
                                    <!--<a href="#" class="dropdown-item btnManageAcc"  data-actindx="@item.EmployeeCode">Manage Account</a>-->

                                </div>
                            </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            setTimeout(function () {
                $('#IndividualDeductionsListByUploadInstanceId').DataTable();
            }, 1000);
        });
    </script>
        };